.ui-header .ui-title {
	font-size: 1.1em;
	margin: 0;
} 

.ui-table-columntoggle-btn {
	display: none !important;
}

.ui-collapsible-heading-toggle {
	font-size: 0.8em;
} 

.my-h3 {
	font-size: 0.8em;
}

.my-label {
	font-size: 0.8em;
}

.ui-mobile label {
	font-size: 0.75em;
}

.ui-input-text input {
	font-size: 0.75em;
}

.watering-plan-output-name {
	font-weight: bold;
} 

.ui-weekday-active {
} 

.ui-weekday-inactive {
	color: #DDDDDD;
}

table.ui-table-columntoggle th {
	font-size: 0.75em;
} 

table.ui-table-columntoggle td {
	font-size: 0.7em;
}

.my-centered-anchor {
	margin: auto;
}

.my-chart {
	font-size: 0.7em;
	height: 200px;
	width: 250px;
}

.ui-login-form {
	min-width: 200px;
	max-width: 500px;
	margin: 0 auto;
}

.ui-icon-as-link {
	padding-left: 5px;
	padding-right: 5px;
} 

@media all and (min-width: 800px) {

}

@media all and (max-width: 799px) {

}

@media all and (max-width: 320px) {
	#table-column-toggle-watering-plan {
		width: 280px;
	} 


}