.ui-table-columntoggle-btn {
	display: none !important;
}

.ui-weekday-active {
} 

.ui-weekday-inactive {
	color: #DDDDDD;
}

.sensors-chart {
	height: 300px;
	width: 500px;
	position: relative;
	margin-top: 20px;
}

.ui-login-form {
	min-width: 200px;
	max-width: 500px;
	margin: 0 auto;
}

@media all and (min-width: 800px) {
	#nav {
		width: 300px;
		float: left;
		margin-right: 20px;
	}
	#grid {
		width: 450px;
		float: left;
	}
}

@media all and (max-width: 799px) {
	#nav {
		width: 100%;
	}
	#grid {
		width: 100%;
	}
}