.ui-table-columntoggle-btn {
	display: none !important;
}

.ui-weekday-active {
} 

.ui-weekday-inactive {
	color: #DDDDDD;
}

.sensors-chart {
	height: 300px;
	width: 500px;
	position: relative;
	margin-top: 20px;
}